.menu {
    display: flex;
    gap: 100px;
    list-style: none;
    margin-left: 700px;
    text-decoration: none;
    .h1-ul-menu {
      margin-top: 37px;
      color: black;
      text-decoration: none;
    }
    
    .h1-ul-menu:hover{
      color: #1b4f72;
      transition: color 0.2s ease;
    }
    .menu a {
      text-decoration: none;
        }

        a {
          text-decoration: none;
        }
  }

  